Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,ts,md,yml,json,html}": "prettier --write",
  "**/*.{js,ts}": "eslint --cache --fix"
}

ci(github-action): ci.yml add node v24
  .github/workflows/ci.yml
Due: prettier --write

ci(github-action): ci.yml add node v24 (#1117)
  .github/workflows/ci.yml
Due: prettier --write

chore(package): bump dev dependencies
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies (#1118)
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package): upgrade to jest v30
  package.json
  test/e2e/http-proxy-middleware.spec.ts
  test/unit/configuration.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/path-rewriter.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package): upgrade to jest v30 (#1122)
  package.json
  test/e2e/http-proxy-middleware.spec.ts
  test/unit/configuration.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/path-rewriter.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(examples): upgrade deps
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
Due: prettier --write

chore(examples): upgrade deps (#1124)
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
Due: prettier --write

chore(package): update dev deps
  README.md
  package.json
  test/e2e/http-proxy-middleware.spec.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Revert "chore(package): update dev deps"
  README.md
  package.json
  test/e2e/http-proxy-middleware.spec.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

ci(github-actions): drop node v18
  .github/workflows/ci.yml
Due: prettier --write

chore(package): update dev deps (#1125)
  .github/workflows/ci.yml
  README.md
  package.json
  test/e2e/http-proxy-middleware.spec.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

test(websocket): fix ws import
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

test(websocket): fix ws import (#1126)
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

chore(refactor): use node: protocol imports
  package.json
  src/factory.ts
  src/handlers/fix-request-body.ts
  src/handlers/response-interceptor.ts
  src/http-proxy-middleware.ts
  src/legacy/create-proxy-middleware.ts
  src/legacy/options-adapter.ts
  src/legacy/types.ts
  src/path-filter.ts
  src/plugins/default/error-response-plugin.ts
  src/plugins/default/logger-plugin.ts
  src/types.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/e2e/http-server.spec.ts
  test/e2e/test-kit.ts
  test/e2e/websocket.spec.ts
  test/types.spec.ts
  test/unit/fix-request-body.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/response-interceptor.spec.ts
Due: prettier --write, eslint --cache --fix

chore(refactor): use node: protocol imports (#1127)
  package.json
  src/factory.ts
  src/handlers/fix-request-body.ts
  src/handlers/response-interceptor.ts
  src/http-proxy-middleware.ts
  src/legacy/create-proxy-middleware.ts
  src/legacy/options-adapter.ts
  src/legacy/types.ts
  src/path-filter.ts
  src/plugins/default/error-response-plugin.ts
  src/plugins/default/logger-plugin.ts
  src/types.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/e2e/http-server.spec.ts
  test/e2e/test-kit.ts
  test/e2e/websocket.spec.ts
  test/types.spec.ts
  test/unit/fix-request-body.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/response-interceptor.spec.ts
Due: prettier --write, eslint --cache --fix

fix path-rewrite-bug
  src/http-proxy-middleware.ts
  src/path-filter.ts
Due: prettier --write, eslint --cache --fix

fix(router): securely check path for proper destination
  src/router.ts
  test/unit/router.spec.ts
Due: prettier --write, eslint --cache --fix

fix
  recipes/pathRewrite.md
Due: prettier --write

ci(node24): pin node24 due to TLS issue with mockttp
  .github/workflows/ci.yml
Due: prettier --write

ci(node24): pin node24 due to TLS issue with mockttp (#1137)
  .github/workflows/ci.yml
Due: prettier --write

fix (#1135)
  recipes/pathRewrite.md
Due: prettier --write

chore(package): bump dev deps
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev deps (#1138)
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/checkout action to v5
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier --write

chore(deps): update actions/checkout action to v5 (#1140)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier --write

fix(error-response-plugin): percentage-encode path < and > to limit XSS
  src/plugins/default/error-response-plugin.ts
Due: prettier --write, eslint --cache --fix

fix(error-response-plugin): sanitize input
  CHANGELOG.md
  cspell.json
  src/plugins/default/error-response-plugin.ts
  src/utils/sanitize.ts
  test/unit/utils/sanitize.spec.ts
Due: prettier --write, eslint --cache --fix

fix(error-response-plugin): sanitize input (#1141)
  CHANGELOG.md
  cspell.json
  src/plugins/default/error-response-plugin.ts
  src/utils/sanitize.ts
  test/unit/utils/sanitize.spec.ts
Due: prettier --write, eslint --cache --fix

fix(fixRequestBody): support content-encoding on request body
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): update dev deps
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): update dev deps (#1143)
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

remove experimental zstd codec
  src/handlers/fix-request-body.ts
Due: prettier --write, eslint --cache --fix

chore: add context7.json
  context7.json
Due: prettier --write

chore: add context7.json (#1144)
  context7.json
Due: prettier --write

build(eslint): update eslint.config.mjs
  eslint.config.mjs
Due: none

build(eslint): update eslint.config.mjs (#1145)
  eslint.config.mjs
Due: none

ci(github workflow): harden workflow
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .yarnrc
  yarn.lock
Due: prettier --write
