Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

ci(github workflow): harden workflow (#1146)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .yarnrc
  yarn.lock
Due: prettier --write

chore(package): bump dev deps
  .yarnrc
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev deps (#1147)
  .yarnrc
  package.json
  yarn.lock
Due: prettier --write

ci(ci.yml): unpin node 24
  .github/workflows/ci.yml
Due: prettier --write

chore(package): reinstall mockttp deps
  yarn.lock
Due: none

build(mockttp): use 2048 bits in generateCACertificate
  test/e2e/router.spec.ts
Due: prettier --write, eslint --cache --fix

ci(ci.yml): unpin node 24 (#1148)
  .github/workflows/ci.yml
  test/e2e/router.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

Fix http.createServer example
  recipes/servers.md
Due: prettier --write

docs(recipes): fix servers.md http.createServer example (#1150)
  recipes/servers.md
Due: prettier --write

ci: publish with oidc
  .github/workflows/publish.yml
Due: prettier --write

ci: publish with oidc (#1152)
  .github/workflows/publish.yml
Due: prettier --write

chore(package.json): bump dev deps
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): bump dev deps (#1153)
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): bump dev deps
  package.json
  src/legacy/types.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(examples): bump deps
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
Due: prettier --write

chore(package.json): bump dev deps (#1155)
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
  package.json
  src/legacy/types.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: applyPathRewrite logs old req.url instead of rewritten path
  src/http-proxy-middleware.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): bump dev deps
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): bump dev deps (#1158)
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

feat: update http-proxy dependency to http-proxy-3
  package.json
  patches/http-proxy+1.18.1.patch
  src/http-proxy-middleware.ts
  src/plugins/default/proxy-events.ts
  src/types.ts
  test/e2e/express-error-middleware.spec.ts
  test/e2e/express-router.spec.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/e2e/router.spec.ts
  test/e2e/test-kit.ts
  test/e2e/websocket.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

refactor(#1136): replace `http-proxy` w/ `httpxy`
  package.json
  src/http-proxy-middleware.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: make cspell happy
  cspell.json
Due: prettier --write

chore: make prettier happy
  src/types.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

refactor: make tests passed
  src/http-proxy-middleware.ts
Due: prettier --write, eslint --cache --fix

test(types.spec.ts): add type check when req or res are 'any'
  test/types.spec.ts
Due: prettier --write, eslint --cache --fix

test(types.spec.ts): add type check when req or res are 'any' (#1161)
  test/types.spec.ts
Due: prettier --write, eslint --cache --fix

chore: upgrade to latest httpxy and fix more types
  package.json
  src/http-proxy-middleware.ts
  src/plugins/default/proxy-events.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

refactor: make types happy
  src/handlers/response-interceptor.ts
  src/http-proxy-middleware.ts
  src/plugins/default/error-response-plugin.ts
  src/types.ts
Due: prettier --write, eslint --cache --fix

chore: make lint happy
  src/types.ts
Due: prettier --write, eslint --cache --fix

feat: drop node v14/v16/v18, update to es2022, remove req.connection
  package.json
  src/http-proxy-middleware.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

fix: prevent TypeError when ws enabled but server is undefined
  src/http-proxy-middleware.ts
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): bump deps
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): eslint v10
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): bump dev deps
  examples/yarn.lock
  yarn.lock
Due: none

chore: migrate prettier to oxfmt
  .devcontainer/devcontainer.json
  .gitpod.yml
  .lintstagedrc
  .oxfmtrc.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  cspell.json
  examples/next-app/package.json
  examples/package.json
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): bump dev-deps
  examples/package.json
  examples/yarn.lock
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,md,yml,json,html}
  eslint --cache --fix: any of: **/*.{js,ts}
