Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

docs(recipe): add link to next.js example
  recipes/servers.md
Due: prettier --write

docs(examples): next.js (#999)
  examples/next-app/.gitignore
  examples/next-app/PROXY.md
  examples/next-app/README.md
  examples/next-app/app/favicon.ico
  examples/next-app/app/globals.css
  examples/next-app/app/layout.tsx
  examples/next-app/app/page.module.css
  examples/next-app/app/page.tsx
  examples/next-app/next.config.mjs
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/next-app/pages/api/_proxy.ts
  examples/next-app/pages/api/users.ts
  examples/next-app/public/next.svg
  examples/next-app/public/vercel.svg
  examples/next-app/tsconfig.json
  recipes/servers.md
Due: prettier --write, eslint --cache --fix

fix(logger-plugin): log target port when router option is used
  CHANGELOG.md
  src/plugins/default/logger-plugin.ts
  test/e2e/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

refactor(logger-plugin): extract getPort logic and add some tests
  src/plugins/default/logger-plugin.ts
  src/utils/logger-plugin.ts
  test/unit/utils/logger-plugin.spec.ts
Due: prettier --write, eslint --cache --fix

ci(spellcheck): add jsonplaceholder.typicode.com
  cspell.json
Due: prettier --write

fix(logger-plugin): log target port when router option is used (#1001)
  CHANGELOG.md
  cspell.json
  src/plugins/default/logger-plugin.ts
  src/utils/logger-plugin.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/unit/utils/logger-plugin.spec.ts
Due: prettier --write, eslint --cache --fix

docs(example): fastify example
  examples/fastify/index.js
  examples/package.json
  examples/yarn.lock
  recipes/servers.md
Due: prettier --write, eslint --cache --fix

docs(example): fastify example (#1002)
  examples/fastify/index.js
  examples/package.json
  examples/yarn.lock
  recipes/servers.md
Due: prettier --write, eslint --cache --fix

docs(README): express request and response generics example
  README.md
Due: prettier --write

docs(README): express request and response generics example (#1006)
  README.md
Due: prettier --write

chore(package): release v3.0.1
  .editorconfig
  README.md
  jest.config.js
  package.json
Due: prettier --write, eslint --cache --fix

docs(examples): hono express example
  examples/hono/index.ts
  examples/hono/package.json
  examples/hono/yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package): bump dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dependencies (#1008)
  package.json
  yarn.lock
Due: prettier --write

refactor: fix circular dependencies
  CHANGELOG.md
  src/factory.ts
  src/index.ts
  src/legacy/create-proxy-middleware.ts
  src/legacy/options-adapter.ts
  src/legacy/types.ts
Due: prettier --write, eslint --cache --fix

refactor: fix circular dependencies (#1010)
  CHANGELOG.md
  src/factory.ts
  src/index.ts
  src/legacy/create-proxy-middleware.ts
  src/legacy/options-adapter.ts
  src/legacy/types.ts
Due: prettier --write, eslint --cache --fix

chore(package): update ip dev dependency
  yarn.lock
Due: none

chore(package): update ip dev dependency (#1011)
  yarn.lock
Due: none

ci(github-actions): update to actions/cache@4
  .github/workflows/ci.yml
Due: prettier --write

ci(github-actions): update to actions/cache@4 (#1013)
  .github/workflows/ci.yml
Due: prettier --write

chore(package): upgrade to eslint v9
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  cspell.json
  eslint.config.js
  package.json
  src/logger.ts
  src/types.ts
  test/types.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/path-rewriter.spec.ts
  test/unit/utils/function.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix(fix-request-body): add fix for '+json' ending
  src/handlers/fix-request-body.ts
Due: prettier --write, eslint --cache --fix

test: add unit test
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

docs(readme): fix example code syntax error
  README.md
Due: prettier --write

fix: fix ut error
  src/handlers/fix-request-body.ts
Due: prettier --write, eslint --cache --fix

docs: Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

fix(fix-request-body): support '+json' content-type suffix (#1015)
  CHANGELOG.md
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): fix repository.url
  package.json
Due: prettier --write

chore(package.json): fix repository.url (#1018)
  package.json
Due: prettier --write

chore(package): update dependencies
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package): update dependencies (#1019)
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(examples): update yarn.lock
  examples/yarn.lock
Due: none

chore(examples): update yarn.lock (#1020)
  examples/yarn.lock
Due: none

chore(package): 3.0.1-beta.1
  package.json
Due: prettier --write

chore(package): 3.0.1-beta.1 (#1022)
  package.json
Due: prettier --write

yarn upgrade @types/http-proxy
  yarn.lock
Due: none

chore(package.json): add type: commonjs
  package.json
Due: prettier --write

chore(package.json): add type: commonjs (#1024)
  package.json
Due: prettier --write

chore(package): update dev deps
  package.json
  yarn.lock
Due: prettier --write

chore(package): update dev deps (#1025)
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,md,yml,json,html}
  eslint --cache --fix: any of: **/*.{js,ts}
