Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,ts,md,yml,json,html}": "prettier --write",
  "**/*.{js,ts}": "eslint --cache --fix"
}

chore(package): bump dev dependencies
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies (#1060)
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

Delete recipes directory
  recipes/README.md
  recipes/async-response.md
  recipes/basic.md
  recipes/context-matching.md
  recipes/corporate-proxy.md
  recipes/delay.md
  recipes/https.md
  recipes/logLevel.md
  recipes/logProvider.md
  recipes/logger.md
  recipes/modify-post.md
  recipes/pathFilter.md
  recipes/pathRewrite.md
  recipes/proxy-events.md
  recipes/response-interceptor.md
  recipes/router.md
  recipes/servers.md
  recipes/virtual-hosts.md
  recipes/websocket.md
Due: prettier --write

Delete LICENSE
  LICENSE
Due: none

Delete CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Exporting Plugin type
  src/index.ts
Due: prettier --write, eslint --cache --fix

chore(package): bump dev dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies (#1074)
  package.json
  yarn.lock
Due: prettier --write

fix: improve path segment matching logic
  src/router.ts
  test/unit/router.spec.ts
Due: prettier --write, eslint --cache --fix

Rename README.md to REDME.md
  REDME.md
Due: prettier --write

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: prettier --write

Update LICENSE
  LICENSE
Due: none

ci(github-actions): pipeline improvements
  .github/workflows/ci.yml
Due: prettier --write

ci(github-actions): pipeline improvements (#1082)
  .github/workflows/ci.yml
Due: prettier --write

feat(types): export Plugin type (#1071)
  src/index.ts
Due: prettier --write, eslint --cache --fix

fix(fixRequestBody): support multipart/form-data (#896)
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): bump dev deps
  package.json
  yarn.lock
Due: prettier --write

chore(examples): bump deps
  examples/package.json
  examples/yarn.lock
Due: prettier --write

chore(package.json): bump dev deps (#1083)
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

ci(package): patch http-proxy
  package.json
  patches/http-proxy+1.18.1.patch
  yarn.lock
Due: prettier --write

ci(package): patch http-proxy (#1084)
  package.json
  patches/http-proxy+1.18.1.patch
  yarn.lock
Due: prettier --write

docs(CHANGELOG): update changelog
  CHANGELOG.md
Due: prettier --write

ci(pkg-pr-new): publish package for testing purposes
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

ci(pkg-pr-new): publish package for testing purposes (#1085)
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

build(patch-package): run patch-package in 'development' only
  package.json
Due: prettier --write

build(patch-package): run patch-package in 'development' only (#1086)
  package.json
Due: prettier --write

chore(examples): update next deps
  examples/next-app/package-lock.json
  examples/next-app/package.json
Due: prettier --write

chore(examples): update next deps (#1087)
  examples/next-app/package-lock.json
  examples/next-app/package.json
Due: prettier --write

build(prettier): improve prettier setup
  .prettierrc
  .vscode/settings.json
  cspell.json
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

ci(github-actions): update spellcheck config
  .github/workflows/ci.yml
Due: prettier --write

ci(github-actions): update spellcheck config (#1088)
  .github/workflows/ci.yml
Due: prettier --write

fix(websocket): handle errors in handleUpgrade (#823)
  src/http-proxy-middleware.ts
  src/plugins/default/error-response-plugin.ts
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

fix(fixRequestBody): prevent multiple .write() calls
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

fix(fixRequestBody): prevent multiple .write() calls (#1089)
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

fix(fixRequestBody): handle invalid request
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

ci(github-actions): bump actions and node versions
  .github/workflows/ci.yml
Due: prettier --write

fix(fixRequestBody): prevent multiple .write() calls (#1090)
  .github/workflows/ci.yml
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix
