Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore(package): update deps
  package.json
  yarn.lock
Due: prettier --write

chore(package): update deps (#1026)
  package.json
  yarn.lock
Due: prettier --write

chore(yarn.lock): micromatch 4.0.8
  yarn.lock
Due: none

chore(yarn.lock): micromatch 4.0.8 (#1027)
  yarn.lock
Due: none

chore(package): release v3.0.1
  .editorconfig
  CHANGELOG.md
  README.md
  jest.config.js
  package.json
Due: prettier --write, eslint --cache --fix

chore(package): release v3.0.1 (#1029)
  .editorconfig
  CHANGELOG.md
  README.md
  jest.config.js
  package.json
Due: prettier --write, eslint --cache --fix

chore(vscode): fix eslint setting
  .vscode/settings.json
Due: prettier --write

chore(vscode): fix eslint setting (#1030)
  .vscode/settings.json
Due: prettier --write

refactor(dependency): replace is-plain-obj with is-plain-object
  CHANGELOG.md
  package.json
  src/path-rewriter.ts
  src/router.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

refactor(dependency): replace is-plain-obj with is-plain-object (#1031)
  CHANGELOG.md
  package.json
  src/path-rewriter.ts
  src/router.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package): upgrade to eslint v9
  .eslintignore
  .eslintrc.js
  CHANGELOG.md
  cspell.json
  eslint.config.mjs
  package.json
  src/get-plugins.ts
  src/http-proxy-middleware.ts
  src/logger.ts
  src/types.ts
  src/utils/function.ts
  test/types.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/path-rewriter.spec.ts
  test/unit/utils/function.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package): upgrade to eslint v9 (#1032)
  .eslintignore
  .eslintrc.js
  CHANGELOG.md
  cspell.json
  eslint.config.mjs
  package.json
  src/get-plugins.ts
  src/http-proxy-middleware.ts
  src/logger.ts
  src/types.ts
  src/utils/function.ts
  test/types.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/path-rewriter.spec.ts
  test/unit/utils/function.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(eslint): lint examples
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

chore(eslint): lint examples (#1033)
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

fix(sse): fix sse when backend restarts
  src/plugins/default/debug-proxy-errors-plugin.ts
Due: prettier --write, eslint --cache --fix

chore(README): lint fix
  README.md
Due: prettier --write

fix(logger-plugin): handle undefined protocol and hostname
  src/plugins/default/logger-plugin.ts
Due: prettier --write, eslint --cache --fix

fix(logger-plugin): handle undefined protocol and hostname (#1036)
  src/plugins/default/logger-plugin.ts
Due: prettier --write, eslint --cache --fix

chore(package): release v3.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(package): release v3.0.2 (#1037)
  CHANGELOG.md
  package.json
Due: prettier --write

ci(github actions): add publish.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  package.json
Due: prettier --write

fix(filter): handle errors
  CHANGELOG.md
  package.json
  src/http-proxy-middleware.ts
  test/e2e/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

fix(pathFilter): handle errors
  CHANGELOG.md
  src/http-proxy-middleware.ts
  test/e2e/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

chore(package): v2.0.7
  package.json
Due: prettier --write

fix(pathFilter): handle errors (#1043)
  CHANGELOG.md
  src/http-proxy-middleware.ts
  test/e2e/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

chore(package): v3.0.3
  package.json
Due: prettier --write

chore(package): v3.0.3 (#1044)
  package.json
Due: prettier --write

ci(github-actions): fix npm tag
  .github/workflows/publish.yml
Due: prettier --write

chore(package): bump dev dependencies
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies (#1045)
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package): update yarn.lock
  yarn.lock
Due: none

chore(package): update yarn.lock (#1046)
  yarn.lock
Due: none

docs(readme): fix example code syntax error (#1014)
  README.md
Due: prettier --write

chore(package): bump express to v4.21.1
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump express to v4.21.1 (#1047)
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

chore(examples): update yarn.lock
  examples/yarn.lock
Due: none

chore(examples): update yarn.lock (#1048)
  examples/yarn.lock
Due: none

Improve matchPathFilter to handle mixed arrays of string and glob paths
  src/path-filter.ts
Due: prettier --write, eslint --cache --fix

chore(package): bump dev deps
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev deps (#1059)
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,md,yml,json,html}
  eslint --cache --fix: any of: **/*.{js,ts}
