Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "**/*.{js,ts,md,yml,json,html}": "prettier --write",
  "**/*.{js,ts}": "eslint --cache --fix"
}

chore(package.json): update to httpxy@0.5.2
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

fix(ipv6): preserve credentials when normalizing bracketed IPv6 target string
  CHANGELOG.md
  src/utils/ipv6.ts
  test/e2e/ipv6.spec.ts
  test/unit/utils/ipv6.spec.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): bump to httpxy 0.5.3
  package.json
  yarn.lock
Due: prettier --write

revert: remove trailing slash
  test/e2e/ipv6.spec.ts
Due: prettier --write, eslint --cache --fix

fix: unspecified IPv6 target hostname (::)
  src/utils/ipv6.ts
  test/unit/utils/ipv6.spec.ts
Due: prettier --write, eslint --cache --fix

docs: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

fix: only concat once in responseInterceptor, fixes #929
  src/handlers/response-interceptor.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): bump to mockttp 4.4.2
  package.json
  test/e2e/http2-server.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package.json): update to httpxy@0.5.3 (#1234)
  CHANGELOG.md
  package.json
  src/utils/ipv6.ts
  test/e2e/http2-server.spec.ts
  test/unit/utils/ipv6.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

test(logger): add e2e test for ENOTFOUND error log
  src/plugins/default/logger-plugin.ts
  test/e2e/logger.spec.ts
Due: prettier --write, eslint --cache --fix

test(logger): add e2e test for ENOTFOUND error log (#1233)
  src/plugins/default/logger-plugin.ts
  test/e2e/logger.spec.ts
Due: prettier --write, eslint --cache --fix

fix(response-interceptor): reduce responseInterceptor buffer churn
  src/handlers/response-interceptor.ts
  test/unit/response-interceptor.spec.ts
Due: prettier --write, eslint --cache --fix

docs(response-interceptor): reduce responseInterceptor buffer churn
  CHANGELOG.md
Due: prettier --write

fix(response-interceptor): reduce responseInterceptor buffer churn (#1236)
  CHANGELOG.md
  src/handlers/response-interceptor.ts
  test/unit/response-interceptor.spec.ts
Due: prettier --write, eslint --cache --fix

fix(ws): handle multi-server upgrade subscription and safe proxy shutdown
  CHANGELOG.md
  src/http-proxy-middleware.ts
  test/e2e/graceful-shutdown.spec.ts
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

fix(ws): handle multi-server upgrade subscription and safe proxy shutdown (#1237)
  CHANGELOG.md
  src/http-proxy-middleware.ts
  test/e2e/graceful-shutdown.spec.ts
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

test(ws): add tests docs
  README.md
  recipes/websocket.md
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

test(ws): add tests docs (#1238)
  README.md
  recipes/websocket.md
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

ci(publish.yml): npm stage publish
  .github/workflows/publish.yml
Due: prettier --write

ci(publish.yml): npm stage publish (#1239)
  .github/workflows/publish.yml
Due: prettier --write

chore(package.json): v4.1.0-beta.0
  package.json
Due: prettier --write

chore(package.json): v4.1.0-beta.0 (#1240)
  package.json
Due: prettier --write

ci(publish.yml): unpin npm version
  .github/workflows/publish.yml
Due: prettier --write

ci(publish.yml): unpin npm version (#1241)
  .github/workflows/publish.yml
Due: prettier --write

chore(package.json): v4.1.0-beta.1
  package.json
Due: prettier --write

chore(package.json): v4.1.0-beta.1 (#1242)
  package.json
Due: prettier --write

test(ws): on error event with unreachable websocket target
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

chore(yarn.lock): bump to follow-redirects 1.16.0
  yarn.lock
Due: none

test(ws): on error event with unreachable websocket target (#1243)
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

feat(router): add 'res' and 'options' to router function
  CHANGELOG.md
  src/http-proxy-middleware.ts
  src/router.ts
  src/types.ts
  test/e2e/router.spec.ts
  test/types.spec.ts
  test/unit/router.spec.ts
Due: prettier --write, eslint --cache --fix

feat(router): add 'res' and 'options' to router function (#1244)
  CHANGELOG.md
  src/http-proxy-middleware.ts
  src/router.ts
  src/types.ts
  test/e2e/router.spec.ts
  test/types.spec.ts
  test/unit/router.spec.ts
Due: prettier --write, eslint --cache --fix

test(http2): improve test
  test/e2e/http2-server.spec.ts
Due: prettier --write, eslint --cache --fix

test(http2): improve test (#1245)
  test/e2e/http2-server.spec.ts
Due: prettier --write, eslint --cache --fix

test(router): add dynamic agent test
  test/e2e/router.spec.ts
Due: prettier --write, eslint --cache --fix

test(router): add dynamic agent test (#1246)
  test/e2e/router.spec.ts
Due: prettier --write, eslint --cache --fix

feat(pathRewrite): add 'res' and 'options' to custom pathRewrite function
  CHANGELOG.md
  README.md
  recipes/pathRewrite.md
  src/http-proxy-middleware.ts
  src/path-rewriter.ts
  src/types.ts
  test/e2e/path-rewriter.spec.ts
  test/types.spec.ts
  test/unit/path-rewriter.spec.ts
Due: prettier --write, eslint --cache --fix

fix(pathRewriter): align Promise return type
  src/types.ts
Due: prettier --write, eslint --cache --fix

feat(pathRewrite): add 'res' and 'options' to custom pathRewrite function (#1247)
  CHANGELOG.md
  README.md
  recipes/pathRewrite.md
  src/http-proxy-middleware.ts
  src/path-rewriter.ts
  src/types.ts
  test/e2e/path-rewriter.spec.ts
  test/types.spec.ts
  test/unit/path-rewriter.spec.ts
Due: prettier --write, eslint --cache --fix

docs: fix documentation drift
  CHANGELOG.md
  README.md
  recipes/router.md
  recipes/websocket.md
Due: prettier --write
