Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

docs(next): remove next example
  examples/next-app/.gitignore
  examples/next-app/PROXY.md
  examples/next-app/README.md
  examples/next-app/app/favicon.ico
  examples/next-app/app/globals.css
  examples/next-app/app/layout.tsx
  examples/next-app/app/page.module.css
  examples/next-app/app/page.tsx
  examples/next-app/next.config.mjs
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/next-app/pages/api/_proxy.ts
  examples/next-app/pages/api/users.ts
  examples/next-app/public/next.svg
  examples/next-app/public/vercel.svg
  examples/next-app/tsconfig.json
Due: prettier --write, eslint --cache --fix

chore(package.json): bump dev-deps (#1171)
  examples/next-app/.gitignore
  examples/next-app/PROXY.md
  examples/next-app/README.md
  examples/next-app/app/favicon.ico
  examples/next-app/app/globals.css
  examples/next-app/app/layout.tsx
  examples/next-app/app/page.module.css
  examples/next-app/app/page.tsx
  examples/next-app/next.config.mjs
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/next-app/pages/api/_proxy.ts
  examples/next-app/pages/api/users.ts
  examples/next-app/public/next.svg
  examples/next-app/public/vercel.svg
  examples/next-app/tsconfig.json
  examples/package.json
  examples/yarn.lock
  yarn.lock
Due: prettier --write, eslint --cache --fix

docs(examples): fix websocket example
  examples/websocket/index.html
  examples/websocket/index.js
Due: prettier --write, eslint --cache --fix

docs(examples): fix websocket example (#1170)
  examples/websocket/index.html
  examples/websocket/index.js
Due: prettier --write, eslint --cache --fix

build(vscode): use workspace version of TypeScript
  .vscode/settings.json
Due: prettier --write

build(vscode): use workspace version of TypeScript (#1173)
  .vscode/settings.json
Due: prettier --write

refactor: make types happy
  src/handlers/response-interceptor.ts
  src/http-proxy-middleware.ts
  src/plugins/default/error-response-plugin.ts
  src/types.ts
Due: prettier --write, eslint --cache --fix

refactor: make tests passed
  src/http-proxy-middleware.ts
Due: prettier --write, eslint --cache --fix

refactor(#1136): replace `http-proxy` w/ `httpxy`
  package.json
  src/http-proxy-middleware.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: upgrade to latest httpxy and fix more types
  package.json
  src/http-proxy-middleware.ts
  src/plugins/default/proxy-events.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: make cspell happy
  cspell.json
Due: prettier --write

chore: make lint happy
  src/types.ts
Due: prettier --write, eslint --cache --fix

chore: make prettier happy
  src/types.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

chore: drop outdated patch-package
  patches/http-proxy+1.18.1.patch
Due: none

refactor(#1136): replace `http-proxy` w/ `httpxy` (#1160)
  cspell.json
  package.json
  patches/http-proxy+1.18.1.patch
  src/handlers/response-interceptor.ts
  src/http-proxy-middleware.ts
  src/plugins/default/error-response-plugin.ts
  src/plugins/default/proxy-events.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat: drop node v14/v16/v18, update to es2022, remove req.connection
  package.json
  src/http-proxy-middleware.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

ci(github actions): update publish.yml for 3.x branch
  .github/workflows/publish.yml
Due: prettier --write

feat: drop node v14/v16/v18, update to es2022, remove req.connection (#1162)
  package.json
  src/http-proxy-middleware.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix

chore(package.json): v4.0.0-beta.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(package.json): v4.0.0-beta.0 (#1174)
  CHANGELOG.md
  package.json
Due: prettier --write

chore: remove legacyCreateProxyMiddleware() [BREAKING CHANGE]
  CHANGELOG.md
  src/http-proxy-middleware.ts
  src/index.ts
  src/legacy/create-proxy-middleware.ts
  src/legacy/index.ts
  src/legacy/options-adapter.ts
  src/legacy/public.ts
  src/legacy/types.ts
  test/legacy/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

chore: remove legacyCreateProxyMiddleware() [BREAKING CHANGE] (#1175)
  CHANGELOG.md
  src/http-proxy-middleware.ts
  src/index.ts
  src/legacy/create-proxy-middleware.ts
  src/legacy/index.ts
  src/legacy/options-adapter.ts
  src/legacy/public.ts
  src/legacy/types.ts
  test/legacy/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

fix: applyPathRewrite logs old req.url instead of rewritten path
  src/http-proxy-middleware.ts
Due: prettier --write, eslint --cache --fix

fix: applyPathRewrite logs old req.url instead of rewritten path (#1157)
  src/http-proxy-middleware.ts
Due: prettier --write, eslint --cache --fix

fix: prevent TypeError when ws enabled but server is undefined
  src/http-proxy-middleware.ts
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

fix: prevent TypeError when ws enabled but server is undefined (#1163)
  src/http-proxy-middleware.ts
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --cache --fix

fix(fixRequestBody): support content-encoding on request body
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

remove experimental zstd codec
  src/handlers/fix-request-body.ts
Due: prettier --write, eslint --cache --fix

fix(fixRequestBody): support content-encoding on request body (#1142)
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --cache --fix

refactor: remove deprecated url.parse()
  src/path-filter.ts
Due: prettier --write, eslint --cache --fix

refactor: remove deprecated url.parse() (#1176)
  src/path-filter.ts
Due: prettier --write, eslint --cache --fix

chore(package.json): drop node20 [BREAKING CHANGE]
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore(package.json): drop node20 [BREAKING CHANGE] (#1179)
  .github/workflows/ci.yml
  package.json
Due: prettier --write

ci: migrate from jest to vitest
  .github/workflows/ci.yml
  README.md
  jest.config.js
  jest.setup.js
  package.json
  src/configuration.ts
  src/debug.ts
  src/factory.ts
  src/get-plugins.ts
  src/http-proxy-middleware.ts
  src/path-filter.ts
  src/types.ts
  test/e2e/express-error-middleware.spec.ts
  test/e2e/express-router.spec.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/e2e/http-server.spec.ts
  test/e2e/path-rewriter.spec.ts
  test/e2e/plugins.spec.ts
  test/e2e/response-interceptor.spec.ts
  test/e2e/router.spec.ts
  test/e2e/test-kit.ts
  test/e2e/websocket.spec.ts
  test/tsconfig.json
  test/types.spec.ts
  test/unit/configuration.spec.ts
  test/unit/fix-request-body.spec.ts
  test/unit/get-plugins.spec.ts
  test/unit/logger.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/path-rewriter.spec.ts
  test/unit/response-interceptor.spec.ts
  test/unit/router.spec.ts
  test/unit/status-code.spec.ts
  test/unit/utils/function.spec.ts
  test/unit/utils/logger-plugin.spec.ts
  test/unit/utils/sanitize.spec.ts
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

ci: migrate from jest to vitest (#1180)
  .github/workflows/ci.yml
  README.md
  jest.config.js
  jest.setup.js
  package.json
  src/configuration.ts
  src/debug.ts
  src/factory.ts
  src/get-plugins.ts
  src/http-proxy-middleware.ts
  src/path-filter.ts
  src/types.ts
  test/e2e/express-error-middleware.spec.ts
  test/e2e/express-router.spec.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/e2e/http-server.spec.ts
  test/e2e/path-rewriter.spec.ts
  test/e2e/plugins.spec.ts
  test/e2e/response-interceptor.spec.ts
  test/e2e/router.spec.ts
  test/e2e/test-kit.ts
  test/e2e/websocket.spec.ts
  test/tsconfig.json
  test/types.spec.ts
  test/unit/configuration.spec.ts
  test/unit/fix-request-body.spec.ts
  test/unit/get-plugins.spec.ts
  test/unit/logger.spec.ts
  test/unit/path-filter.spec.ts
  test/unit/path-rewriter.spec.ts
  test/unit/response-interceptor.spec.ts
  test/unit/router.spec.ts
  test/unit/status-code.spec.ts
  test/unit/utils/function.spec.ts
  test/unit/utils/logger-plugin.spec.ts
  test/unit/utils/sanitize.spec.ts
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package.json): bump to httpxy 0.5.0
  package.json
  src/http-proxy-middleware.ts
  test/e2e/router.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package.json): bump to httpxy 0.5.0 (#1183)
  package.json
  src/http-proxy-middleware.ts
  test/e2e/router.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: remove third party config
  .gitpod.yml
  context7.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,ts,md,yml,json,html}
  eslint --cache --fix: any of: **/*.{js,ts}
