Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore(package): bump dev dependencies (#977)
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

chore(package): v3.0.0
  CHANGELOG.md
  MIGRATION.md
  README.md
  package.json
Due: prettier --write

chore(package): v3.0.0 (#947)
  CHANGELOG.md
  MIGRATION.md
  README.md
  package.json
Due: prettier --write

Fix bug in header manipulation example
  recipes/response-interceptor.md
Due: prettier --write

Fix bug in header manipulation example (#967)
  recipes/response-interceptor.md
Due: prettier --write

fix(type): fix RequestHandler return type
  CHANGELOG.md
  src/types.ts
Due: prettier --write, eslint --cache --fix

fix(type): fix RequestHandler return type (#980)
  CHANGELOG.md
  src/types.ts
Due: prettier --write, eslint --cache --fix

chore(package): lockfile update
  yarn.lock
Due: none

chore(package): lockfile update (#981)
  yarn.lock
Due: none

chore(package): bump dev dependencies
  package.json
  test/e2e/express-router.spec.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/e2e/response-interceptor.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore(package): update commitlint
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies (#982)
  package.json
  test/e2e/express-router.spec.ts
  test/e2e/http-proxy-middleware.spec.ts
  test/e2e/response-interceptor.spec.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat(options): added follow redirects with max body length and max redirects
  src/configuration.ts
  src/errors.ts
  src/http-proxy-middleware.ts
  src/types.ts
Due: prettier --write, eslint --cache --fix

fix(typo): typo fix
  src/http-proxy-middleware.ts
Due: prettier --write, eslint --cache --fix

chore(package): yarn.lock update
  yarn.lock
Due: none

chore(package): yarn.lock update (#986)
  yarn.lock
Due: none

refactor(errors): improve pathFilter error message
  CHANGELOG.md
  src/errors.ts
Due: prettier --write, eslint --cache --fix

refactor(errors): improve pathFilter error message (#987)
  CHANGELOG.md
  src/errors.ts
Due: prettier --write, eslint --cache --fix

Fix misspelled URLs
  MIGRATION.md
Due: prettier --write

docs(MIGRATION.md): fix misspelled URLs (#988)
  MIGRATION.md
Due: prettier --write

fix(logger-plugin): fix missing target port
  src/plugins/default/logger-plugin.ts
  test/e2e/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

docs(CHANGELOG.md): update changelog
  CHANGELOG.md
Due: prettier --write

refactor(logger-plugin): improve req type
  src/plugins/default/logger-plugin.ts
Due: prettier --write, eslint --cache --fix

fix(logger-plugin): fix missing target port (#989)
  CHANGELOG.md
  src/plugins/default/logger-plugin.ts
  test/e2e/http-proxy-middleware.spec.ts
Due: prettier --write, eslint --cache --fix

docs(websocket): improve example for online IDE
  examples/websocket/index.html
Due: prettier --write

docs(websocket): improve example for online IDE (#990)
  examples/websocket/index.html
Due: prettier --write

ci(package): npm package provenance
  .github/workflows/publish.yml
  .npmrc
  CHANGELOG.md
  package.json
Due: prettier --write

ci(package): npm package provenance (#991)
  .github/workflows/publish.yml
  .npmrc
  CHANGELOG.md
  package.json
Due: prettier --write

docs(examples): move example dependencies from root
  examples/README.md
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

docs(examples): move example dependencies from root (#994)
  examples/README.md
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

ci(github-actions): update to node v22
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier --write

ci(github-actions): update to node v22 (#995)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: prettier --write

docs(examples): add vanilla http server example
  examples/http-server/index.js
  recipes/servers.md
Due: prettier --write, eslint --cache --fix

docs(examples): add vanilla http server example (#996)
  examples/http-server/index.js
  recipes/servers.md
Due: prettier --write, eslint --cache --fix

ci(github-actions): update cspell to v6
  .github/workflows/ci.yml
Due: prettier --write

ci(github-actions): update cspell to v6 (#998)
  .github/workflows/ci.yml
Due: prettier --write

docs(examples): next
  examples/next-app/.gitignore
  examples/next-app/README.md
  examples/next-app/app/favicon.ico
  examples/next-app/app/globals.css
  examples/next-app/app/layout.tsx
  examples/next-app/app/page.module.css
  examples/next-app/app/page.tsx
  examples/next-app/next.config.mjs
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/next-app/public/next.svg
  examples/next-app/public/vercel.svg
  examples/next-app/tsconfig.json
Due: prettier --write

docs(examples): next proxy
  examples/next-app/PROXY.md
  examples/next-app/pages/api/_proxy.ts
  examples/next-app/pages/api/users.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: **/*.{js,ts,md,yml,json,html}
  eslint --cache --fix: any of: **/*.{js,ts}
