Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,md,yml,json,html}": "prettier --write",
  "**/*.{js,ts}": "eslint --fix",
}

chore(typescript): set callback types based on the http-proxy
  src/types.ts
Due: prettier --write, eslint --fix

docs(github): pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(github): pull request template (#604)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(typescript): extract handlers types (#603)
  src/types.ts
Due: prettier --write, eslint --fix

test(coverage): improve coverage config
  jest.config.js
  test/e2e/test-kit.ts
Due: prettier --write, eslint --fix

test(coverage): improve coverage config (#609)
  jest.config.js
  test/e2e/test-kit.ts
Due: prettier --write, eslint --fix

test(responseInterceptor): add unit test
  test/unit/response-interceptor.spec.ts
Due: prettier --write, eslint --fix

test(fixRequestBody): add unit test
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --fix

Add test coverage to fixRequestBody and responseInterceptor (#608)
  test/unit/fix-request-body.spec.ts
  test/unit/response-interceptor.spec.ts
Due: prettier --write, eslint --fix

fix(fixRequestBody): fix TypeScript type
  src/handlers/fix-request-body.ts
Due: prettier --write, eslint --fix

fix(fixRequestBody): fix TypeScript type (#615)
  src/handlers/fix-request-body.ts
Due: prettier --write, eslint --fix

refactor(test): fix flakiness
  package.json
  test/e2e/express-router.spec.ts
  test/e2e/router.spec.ts
  test/e2e/websocket.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor(test): fix flakiness (#616)
  package.json
  test/e2e/express-router.spec.ts
  test/e2e/router.spec.ts
  test/e2e/websocket.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

test(stryker): mutation testing
  package.json
  stryker.conf.json
  yarn.lock
Due: prettier --write

ci(jest): upgrade to jest 27
  package.json
  test/e2e/websocket.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci(jest): upgrade to jest 27 (#622)
  package.json
  test/e2e/websocket.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(package.json): update dev deps
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): update dev deps (#623)
  package.json
  yarn.lock
Due: prettier --write

chore(yarn.lock): yarn-deduplicate
  yarn.lock
Due: none

chore(yarn.lock): yarn-deduplicate (#624)
  yarn.lock
Due: none

chore(deps): esm dependencies
  jest.config.js
  package.json
  src/config-factory.ts
  src/path-rewriter.ts
  src/router.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Resolves an issue where the path key is set to a different path if it is duplicated in the URL path
  src/router.ts
Due: prettier --write, eslint --fix

Update router.spec.ts
  test/unit/router.spec.ts
Due: prettier --write, eslint --fix

fix: upgrade @types/http-proxy from 1.17.5 to 1.17.6
  package.json
  yarn.lock
Due: prettier --write

chore(github): use issue forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore(github): use issue forms (#631)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore(package): v2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(package): bump devDependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump devDependencies (#651)
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump @types/express
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump @types/express (#652)
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump devDep ws
  package.json
  test/e2e/websocket.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(package): bump devDep ws (#653)
  package.json
  test/e2e/websocket.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(package): bump devDep mockttp
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump devDep mockttp (#654)
  package.json
  yarn.lock
Due: prettier --write

Fix a typo in _handlers.ts
  src/_handlers.ts
Due: prettier --write, eslint --fix

Fix a typo in handlers.spec.ts
  test/unit/handlers.spec.ts
Due: prettier --write, eslint --fix

fix(_handlers.ts): typo (#655)
  src/_handlers.ts
  test/unit/handlers.spec.ts
Due: prettier --write, eslint --fix

fix: upgrade @types/http-proxy from 1.17.6 to 1.17.7
  package.json
  yarn.lock
Due: prettier --write

feat(proxy): load balance & retryable
  package.json
  src/handlers/cache-request-body.ts
  src/http-proxy-middleware.ts
  yarn.lock
Due: prettier --write, eslint --fix
