Repository chimurai/http-proxy-middleware: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "**/*.{js,ts,md,yml,json,html}": "prettier --write",
  "**/*.{js,ts}": "eslint --fix",
}

feat(proxy): load balance & retryable
  package.json
  src/handlers/cache-request-body.ts
  src/http-proxy-middleware.ts
  yarn.lock
Due: prettier --write, eslint --fix

Upgrade all patch- and minor level packages.
  yarn.lock
Due: none

chore(package.json): fix dev dependency audit issues
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): bump dev dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package.json): bump dev dependencies (#671)
  package.json
  yarn.lock
Due: prettier --write

ci(package.json): husky install
  package.json
Due: prettier --write

ci(package.json): husky install (#672)
  package.json
Due: prettier --write

ci(package.json): use make
  .editorconfig
  .eslintignore
  .github/workflows/ci.yml
  Makefile
  README.md
  package.json
  test/pkg/Makefile
  test/pkg/README.md
  test/pkg/app.js
  test/pkg/app.spec.js
  test/pkg/jest.config.js
  test/pkg/package.json
Due: prettier --write, eslint --fix

fix: upgrade is-glob from 4.0.1 to 4.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump eslint dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump eslint dependencies (#676)
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): bump dev dependencies (#677)
  package.json
  yarn.lock
Due: prettier --write

david-dm.org no longer available
  README.md
Due: prettier --write

docs: remove david-dm.org badge (#680)
  README.md
Due: prettier --write

chore(package): bump dev dependencies (#681)
  package.json
  yarn.lock
Due: prettier --write

chore(husky): fix husky v7 hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(husky): fix husky v7 hooks (#682)
  .husky/commit-msg
  .husky/pre-commit
Due: none

Move @types/express to dependencies
  package.json
Due: prettier --write

chore(package): pin and update dev dependencies
  package.json
  yarn.lock
Due: prettier --write

Update index.ts
  src/index.ts
Due: prettier --write, eslint --fix

Update http-proxy-middleware.ts
  src/http-proxy-middleware.ts
Due: prettier --write, eslint --fix

build(eslint): disable @typescript-eslint/no-explicit-any
  .eslintrc.js
Due: prettier --write, eslint --fix

build(cspell): add spellchecker
  CONTRIBUTORS.txt
  README.md
  cspell.json
  examples/response-interceptor/index.js
  package.json
  recipes/logProvider.md
  recipes/modify-post.md
  test/e2e/websocket.spec.ts
Due: prettier --write, eslint --fix

build(cspell): add cspell github-action
  .github/workflows/ci.yml
Due: prettier --write

docs: fix spelling mistakes
  README.md
  examples/websocket/index.html
  recipes/async-response.md
  recipes/logLevel.md
  recipes/response-interceptor.md
  test/unit/response-interceptor.spec.ts
  test/unit/router.spec.ts
Due: prettier --write, eslint --fix

build: spellchecker (#689)
  .github/workflows/ci.yml
  CONTRIBUTORS.txt
  README.md
  cspell.json
  examples/response-interceptor/index.js
  examples/websocket/index.html
  package.json
  recipes/async-response.md
  recipes/logLevel.md
  recipes/logProvider.md
  recipes/modify-post.md
  recipes/response-interceptor.md
  test/e2e/websocket.spec.ts
  test/unit/response-interceptor.spec.ts
  test/unit/router.spec.ts
Due: prettier --write, eslint --fix

fix(fixRequestBody): fix request body for empty JSON object requests
  src/handlers/fix-request-body.ts
  test/unit/fix-request-body.spec.ts
Due: prettier --write, eslint --fix

fix(github): fix bug template
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

fix(github): remove feature label
  .github/ISSUE_TEMPLATE/feature.yml
Due: prettier --write

chore: fix github templates (#697)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: prettier --write

chore(github): bug template improvement
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

chore(github): bug template improvements (#698)
  .github/ISSUE_TEMPLATE/bug.yml
Due: prettier --write

chore(package): bump dev dependencies (#699)
  package.json
  yarn.lock
Due: prettier --write

fix(types): fix type regression
  package.json
  src/types.ts
Due: prettier --write, eslint --fix
